<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title></title>
</head>
<body>
    <header>
        {%block head%} {%endblock%}
    </header>
    <nav>
        <ul>
            <li><a href="{{url_for('index')}}">Inicio</a></li>
            <li><a href="{{url_for('libreta')}}">Enviar Libreta</a></li>
            <li><a href="{{url_for('cuota')}}">Enviar Cuota</a></li>
            <li><a href="{{url_for('whatsapp')}}">Enviar WhatsApp</a></li>
        </ul>
    </nav>
    <section>
        {%block contenido%}

        {%endblock%}
    </section>
    <footer> Software Sistema MDR - Lucas Luna Clarasó</footer>
</body>
</html>